body{
    padding: 1em;
    background-color: paleturquoise;
    font-size: 2rem;
}

.image-height {
    height: 200px;
}

.card{
    max-width: 30em;
    flex-direction: row;
}

.card img{
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.card-body{
    display: flex;
    justify-content: space-between;
}

.text-section{
    max-width: 60%;
}

.cta-section{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-section.btn{
    padding: 0.3em 0.5em;
    border-color: azure;
    background-color:gray ;
}

/*@media screen and (max-width:376px) {*/
/*    .card{*/
/*        font-size: 0.9em;*/
/*    }*/

/*    .btn{*/

/*    }*/
/*}*/